In [2]:
import basedosdados as bd
import pandas as pd

In [3]:
df = bd.read_table(dataset_id='br_ibge_pib',
table_id='municipio',
billing_project_id="45888281253")

Downloading: 100%|██████████| 100186/100186 [00:22<00:00, 4523.52rows/s]

In [6]:
df.sample(5)

,ano,id_municipio,pib,impostos_liquidos,va,va_agropecuaria,va_industria,va_servicos,va_adespss
9323,2003,3544509,17383476,505394,16878081,5207312,1286491,4986100,5398178
14645,2004,3522802,62234548,2291225,59943324,13365260,5399281,24826828,16351955
33025,2007,5103601,135584450,9981247,125603203,65428335,17329679,24473648,18371541
96726,2019,2923100,207760986,14311742,193449244,8225106,13609286,69581320,102033532
73816,2015,2601409,393925607,28200604,365725003,29662508,22015785,162263561,151783150